<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Add Expenses</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
  <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<div class="container">
  <a href="/machines" class="btn btn-secondary mt-3 mb-2">< Back to All Machines</a>
  <h1>Add Expenses</h1>
  <form th:action="@{'/machines/' + ${machineId} + '/add-expenses'}" method="post" th:object="${channelList}">
    <div class="form-group row">
      <div class="col-sm-8 d-flex align-items-center">
        <h3 class="mb-0">Elements</h3>
      </div>
      <div class="col-sm-4">
        <div class="input-group date" id="datepicker">
          <input placeholder="Click to choose a date" type="text" id="timePeriod" name="timePeriod" class="form-control" required>
          <div class="input-group-append">
            <span class="input-group-text"><i class="fa fa-calendar"></i></span>
          </div>
        </div>
      </div>
    </div>
    <table class="table">
      <thead>
      <tr>
        <th>Channel</th>
        <th>Name</th>
        <th>Type</th>
        <th>Expense</th>
      </tr>
      </thead>
      <tbody id="channels">
      <tr th:each="channel, iterStat : *{channels}">
        <td th:text="${channel.channel}"></td>
        <td th:text="${channel.name}"></td>
        <td th:text="${channel.type.measurement}"></td>
        <td>
          <input placeholder="Value" type="number" th:field="*{channels[__${iterStat.index}__].expenses[0].amount}" class="form-control" step="0.01" required>
          <input type="hidden" th:field="*{channels[__${iterStat.index}__].id}" />
        </td>
      </tr>
      </tbody>
    </table>
    <button type="submit" class="btn btn-primary">Add Expenses</button>
  </form>
</div>
</body>
</html>
<script>
  $(document).ready(function(){
    $('#datepicker').datepicker({
      format: 'mm/yyyy',
      startView: "months",
      minViewMode: "months",
      autoclose: true
    });
  });
</script>
