<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Machine</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        let types = /*[[${types}]]*/ [];
        /*]]>*/
    </script>
    <script type="text/javascript" th:src="@{../js/addMachine.js}"></script>
</head>
<body>
<div class="container">
    <h1>Add a Machine</h1>
    <form action="#" th:action="@{/machines/add}" th:object="${machine}" method="post">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" th:field="*{name}" class="form-control" />
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <input type="text" id="description" th:field="*{description}" class="form-control" />
        </div>

        <h3>Elements</h3>
        <table class="table">
            <thead>
            <tr>
                <th>Channel</th>
                <th>Name</th>
                <th>Type</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody id="elements">
            <tr th:each="element, iterStat : *{elements}">
                <td><input required type="text" min="1" class="form-control" th:field="*{elements[__${iterStat.index}__].channel}"/></td>
                <td><input required type="text" class="form-control" th:field="*{elements[__${iterStat.index}__].name}"/></td>
                <td>
                    <div class="form-group">
                        <select id="type" th:field="*{elements[__${iterStat.index}__].type.id}" class="form-control" required>
                            <option th:each="type : ${types}" th:value="${type.id}" th:text="${type.toString()}">Type</option>
                        </select>
                    </div>
                </td>
                <td><button type="button" class="btn btn-danger" onclick="removeElement(this)">Remove</button></td>
            </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-secondary" onclick="addElement()">Add Element</button><br/><br/>

        <button type="submit" class="btn btn-primary">Add Machine</button>
    </form>
    <a href="/machines">View Machines</a>
</div>
</body>
</html>
