<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Machines List</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<div class="container">
  <a href="/machines" class="btn btn-secondary mt-3 mb-2">< Back to All Machines</a>
  <h1>List of Machines</h1>
  <h4>Statistic for <span th:text="${timePeriod.month}"></span>/<span th:text="${timePeriod.year}"></span></h4>
  <div th:each="machine : ${machines}">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title"><strong>Name:</strong> <span th:text="${machine.name}"></span></h5>
        <p class="card-text"><strong>Description:</strong> <span th:text="${machine.description}"></span></p>
        <h6 class="card-subtitle mb-2 text-muted">Elements:</h6>
        <table class="table">
          <thead>
          <tr>
            <th>Channel</th>
            <th>Name</th>
            <th>Amount</th>
            <th>Type</th>
            <th>Total</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="element : ${machine.elements}">
            <td><span th:text="${element.channel}"></span></td>
            <td><span th:text="${element.name}"></span></td>
            <td><span th:text="${element.amount}"></span> <span th:text="${element.type.measurement}"></span></td>
            <td><span th:text="${element.type.name}"></span></td>
            <td><span th:text="${element.total}"></span> UAH</td>
          </tr>
          </tbody>
        </table>
        <p>Total: <span th:text="${machine.total}"></span> UAH</p>
      </div>
    </div>
  </div>
</div>
</body>
</html>